@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --font-family: "Poppins";

    --neutral-100: #FFFFFF;
    --neutral-300: #EFF0F6;
    --neutral-400: #D9DBE9;
    --neutral-500: #A0A3BD;
    --neutral-600: #6F6C90;
    --neutral-800: #170F49;
    --primary-color: #4A3AFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;

    background-color: var(--neutral-100);
    color: var(--neutral-800);
}
